
$color-secondary:rgb(34, 129, 15);
$color-secondary-transparent:rgba(34, 129, 15, 0.5);
$color-text-primary: white;
$main-font: 'Hind Siliguri', sans-serif;

$color-header-background-2: linear-gradient(199deg, rgba(2,0,36,1) 0%, rgba(40,44,156,1) 19%, rgba(0,212,255,1) 100%);

nav {
    position: absolute;
    bottom: 0;
    
}
nav {
    div {
        ul {
            background-color: rgba(31, 30, 30, 0.5);
            
            
           
        }
    }
}

h1 {
    color: $color-text-primary;
    font-size: 65px;
    font-family: $main-font;
}
.fa-custom {
    color: rgba(248, 246, 246, 0.9);
}
.jumbotron {
    margin: 0;
    font-family: $main-font;
    padding: 0;
    background-image: url(https://i.postimg.cc/7P74yMjm/jumbotron-image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
//    min-height: 300px;
}
.signin-button {
    position: absolute;
    top: 0;
    right: 0;
    
}
.btn-signup {
    background-color: $color-secondary;
    color: $color-text-primary;
}
.btn-signin {
    background-color: rgba(15, 15, 15, 0.3);
}
.btn-signin:hover {
    background-color: rgba(15, 15, 15, 0.7);
}
.btn-signup:hover {
    background-color: rgba(34, 129, 15, 0.5);
    color: white;
}
.add-overflow {
    background-color: white; }

.row-content {
    padding: 10px; }
    
.no-border-left {
    border-radius: 0;
    border-top-left-radius: none; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;}

.no-border-right {
    border-right: none;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // border-top-right-radius: none;
}   
.border-radius-item {
    border-radius: 10px;
}
.no-margin {
    margin: 0; }

.card-width {
    width: 10rem;
    height: 10rem; }

.add-overflow {
    overflow-y: auto;
    flex-wrap: nowrap; }
.nav-link {
    color: white;
}    
.add-margin-top {
    margin-top: 100px;
}
.add-margin-bot {
    margin-bottom: 100px;
}

.products-button {
    background-color: $color-secondary;
}
.remove-button {
    background-color: red;
}
.custom-navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
 

 
//   .custom-navbar-toggler {
//     margin-left: -15px;
//     color: white;
//     border-color: white;
//     padding: 0.25rem 0.75rem;
//     font-size: 1.25rem;
//     line-height: 1;
//     background-color: transparent;
//     border: 1px solid white;
//     border-radius: 0.25rem;
//   }
  .custom-navbar-toggler {
  
    border: 1px solid white;
    
  }
//  .checked-card-title {
//     color: $color-secondary;
//   }
  .checked-icon {
    position: absolute;
    right: 0;
    color: $color-secondary;
}
.checked-div {
    background-color: black;
    color: white;
}
  