
$color-secondary:rgb(34, 129, 15);
$color-secondary-transparent:rgba(34, 129, 15, 0.5);
$color-text-primary: white;
$color-checked: rgba(4, 151, 177, 0.7);
$main-font: 'Hind Siliguri', sans-serif;

$color-header-background-2: linear-gradient(199deg, rgba(2,0,36,1) 0%, rgba(40,44,156,1) 19%, rgba(0,212,255,1) 100%);
$card-dish-background-color: rgba(219, 216, 216, 0.5);
$card-body-border: rgb(7, 186, 192);
// buttons
$active-button-color: white;
$active-button-background-color: rgb(34, 1, 1);
$active-button-product-color: rgb(194, 105, 3);
$active-button-background-color-gradiant: rgba(34, 1, 1, 0.4);


nav {
    position: absolute;
    bottom: 0;
    
}
nav {
    div {
        ul {
            background-color: $active-button-background-color-gradiant;
            
            
           
        }
    }
}
nav {
    div {
        ul {
            li:hover{
                color: white;
            }
            
            
           
        }
    }
}

.navlinks {
    color: rgb(233, 230, 230);
  
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
}
.navlinks:hover {
    color: white;
    text-decoration: none;

}
h1 {
    color: $color-text-primary;
    font-size: 65px;
    font-family: $main-font;
}
.fa-custom {
    color: rgba(248, 246, 246, 0.9);
}
.jumbotron {
    margin: 0;
    font-family: $main-font;
    padding: 0;
    background-image: url(https://i.postimg.cc/7P74yMjm/jumbotron-image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

//Aimed btns
}
.signin-button {
    position: absolute;
    top: 0;
    right: 0;
    
}
.btn-signup {
    background-color: $color-secondary;
    color: $color-text-primary;
}
.btn-signin {
    background-color: rgba(15, 15, 15, 0.3);
}
.btn-signin:hover {
    background-color: rgba(15, 15, 15, 0.7);
}
.btn-signup:hover {
    background-color: rgba(34, 129, 15, 0.5);
    color: white;
}

 //Border adjustment   
.no-border-left {
    border-radius: 0;
    border-top-left-radius: none; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;}

.no-border-right {
    border-right: none;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
}   
.border-radius-item {
    border-radius: 10px;
}

//margin adjustment
.no-margin {
    margin: 0; }
    
.add-margin-top {
    margin-top: 100px;
}
.add-margin-bot {
    margin-bottom: 100px;
}

// navbar Toggler
.custom-navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
 

.custom-navbar-toggler {
border: 1px solid white;

}

.checked-icon {
    position: absolute;
    right: 0;
    color: $color-secondary;
}
.checked-div {
    background-color: $color-checked;
    color: white;
}
.remove-button {
    display: block;
}
.remove-product-list {
    display: block;
}
.display-list-number-items {
   display: block;
   
}
.select-button {
  background-color: transparent;
  border: none;
}
  
.select-button:hover {
    font-weight: bold;
  background-color: transparent;
  border: none;
}
// .product-card {
//     display: block;
// }
.card-dish-background {
    background-color: $card-dish-background-color;
    
}
.card-body-background {
    border: solid 2px $card-body-border;
}
// .card-img-border {
//     border-bottom: dashed 1px red;
// }
.active-button {
    background-color: $active-button-background-color;
    color: $active-button-color;
}
.active-button-product {
    background-color: $active-button-product-color;
    color: $active-button-color;
}
.dish-name-card {
    color: $active-button-background-color;
}
.card-text-margin {
    margin-bottom: 0;
}  